<div class="add-comment-form-container">
  <h2 class="form-title">Add a Comment</h2>

  <form
    action="/forums/comments"
    method="POST"
    class="comment-form"
    enctype="multipart/form-data"
  >
    <input type="hidden" name="forumId" value="{{forumId}}" />
    <input type="hidden" name="userId" value="{{userId}}" />

    <div class="form-group">
      <label for="content">Your Comment:</label>
      <textarea name="content" id="content" rows="4"></textarea>
    </div>

    <!-- NEW: upload up to 5 images -->
    <div class="form-group">
      <label for="images">Attach images (max 5):</label>
      <input type="file" name="images" id="images" accept="image/*" multiple />
    </div>

    <button type="submit" class="submit-comment-button">
      Post Comment
    </button>
  </form>
</div>

<script src="/public/js/addComment.js"></script>