<div class="create-post-page">
  <h2>Create a Report</h2>

  <div id="forumFormContainer">
    <form method="POST" action="/report/create/{{contentId}}" name="forumForm" id="forumForm">
      <input id="userId" name="userId" value="{{loggedUserId}}" />
      <input id="contentId" name="contentId" value="{{contentId}}" />
      <input id="type" name="type" value="{{type}}"/>

      <div class="form-group">
        <label for="reason">Reason:</label>
        <textarea id="reason" name="reason" required></textarea>
      </div>

      <button type="submit" class="submit-post-button">Submit Report</button>
    </form>
  </div>
</div>